#app {
  height: 100vh;
  display: flex;
}

.shape {
  width: 300px;
  padding: 25px 0;
  display: flex;
  margin: auto;
  background: #222;
  flex-direction: column;
  color: #eee;
  box-shadow: 3px 5px 7px 1px rgba(0, 0, 0, 0.25);

  h2 {
    text-align: center;
    color: #eee;
    margin-bottom: 25px;
    margin-top: 0;
  }

  .user-data {
    display: flex;
    flex-direction: column;

    input {
      background: #333;
      border-radius: 2px;
      border: none;
      color: #ddd;
      margin: auto;
      padding: 7px 15px;
      margin-bottom: 15px;
      outline: none;

      &.error {
        border: 1px solid #e00;
      }
    }
  }

  .submit {
    padding: 7px 15px;
    margin: auto;
    border: none;
    border-radius: 2px;
    background: #0e0;
  }
}
